@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.name{
  background:linear-gradient(90deg,black,white);
  background-size:400%;
  color:transparent;
   background-clip: text;          /* standard */
  -webkit-background-clip:text;   /* vendor prefix */
  animation:ani 15s linear infinite;
}
body{
  display:flex;
  flex-direction:column;
  height:100vh;
  align-items: center;
  justify-content: center;
  background:linear-gradient(90deg,#03a9f4,#f441a5,#fe9b4b,#03a9f4);
  background-size:400%;
  overflow:hidden;
  font-family:cursive;
  animation:ani 50s linear infinite;
}

@keyframes ani{
  0%{
    background-position:0%;
  }
  100%{
    background-position:400%;
  }
}

/* Calculator Box */
.calculator {
    border: none;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.5);
    
}

/* Input Box */
input {
    width: 350px;
    border: none;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 36px;
    font-weight: 500;
    text-align: right;
    color: #fff;
    outline: none;
        background-blend-mode: soft-light;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5),
                inset -2px -2px 6px rgba(255, 255, 255, 0.05);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Buttons */
button {
    border: none;
    width: 65px;
    height: 47px;
    margin: 10px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    color: #000;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-blend-mode: soft-light;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4),
                -4px -4px 12px rgba(255, 255, 255, 0.05);    
}

button:hover {
    transform: scale(1.08);
    background: rgba(255, 255, 255, 0.15);
}

/* Operator Buttons */
.operator {
    color: #6703e9;
    /* color: #000; */
}

/* Equal Button */
.equalBtn {
    background: linear-gradient(135deg, #ff8c00, #ff5722);
    color: #fff;
    box-shadow: 0px 5px 15px rgba(255, 120, 0, 0.5);
}

.equalBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ffa733, #ff7043);
}

@media screen and (max-width: 650px) {
  .parent {
    width:70vw;
  height:60vh;
  }
  .button{
    width:15vw;
    font-size:12px;
  }
  .display1{
    font-size:12px;
  }
}